@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* global reset values */
  * {
    @apply m-0 box-border p-0;
  }
  html {
    @apply overflow-x-hidden  focus-within:scroll-smooth;
  }
  body {
    @apply bg-white text-black w-screen  max-w-[1440px] min-h-screen mx-auto;
  }
  ul,
  ol {
    @apply list-none;
  }
  a {
    @apply no-underline;
  }
  button,
  input {
    @apply outline-0;
  }
  img {
    @apply block max-w-full;
  }
  iframe {
    @apply border-0;
  }
}

@layer components {
  /* reuseable components */
}

@layer utilities {
  .glassEffect {
    backdrop-filter: blur(3px); /* Chrome and Opera */
    -webkit-backdrop-filter: blur(3px); /* Safari 9+ */
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.08);
  }
}
